<ion-header>
  <ion-toolbar>
    <ion-title>Create</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bienvenido</ion-card-subtitle>
      <ion-card-title>App Bar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      App para gestionar la cuenta de una pulsera de un cliente.
    </ion-card-content>
    <ion-list>
      <h1>Pulseras</h1>
      <ion-item *ngFor="let pulseras of pulseras">
        <ion-label>
          <h3>{{pulseras.id}}</h3>
        </ion-label>
      </ion-item>
      <!-- <iom-item-options side="end">
        <ion-item-option>
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </iom-item-options> -->
      <h1>Productos</h1>
      <ion-item *ngFor="let productos of productos">
        <ion-label>
          <h3>{{productos.nombre}}</h3>
        </ion-label>
      </ion-item>
      <h1>Ordenes</h1>
      <ion-item *ngFor="let ordenes of ordenes">
        <ion-label>
          <h3>{{ordenes.id}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>