<ion-header>
  <ion-toolbar>
    <ion-title>Create</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bienvenido</ion-card-subtitle>
      <ion-card-title>App Bar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      App para gestionar la cuenta de una pulsera de un cliente.
    </ion-card-content>
  </ion-card>
</ion-content>